ip: 192.168.56.56
memory: 4048
cpus: 4
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: 'C:\Users\latek\Homestead\codes\zespolowy'
        to: /home/vagrant/code
sites:
    -
        map: zespolowy.test
        to: /home/vagrant/code/public
        schedule: true
databases:
    - homestead
features:
    -
        mysql: true
    -
        mariadb: false
    -
        postgresql: false
    -
        ohmyzsh: false
    -
        webdriver: false
services:
    -
        enabled: [mysql]
name: zespolowy
hostname: zespolowy
